<div class="current-page">
  <div class="page-name">
    <span ng-if=" page.name.length > 42 "> {{page.name | limitTo : 42}}&hellip; </span>
    <span ng-if=" page.name.length < 42 "> {{page.name}} </span>
    <i class="right icon-downarrow"></i>
  </div>
  <!--<a class="delete-page" ng-dialog="presentation/pagebuilder/delete-page.modal.tpl.html" ng-dialog-scope="this" ng-dialog-class="delete-page">-->
    <!--<i class="icon-delete"></i>-->
    <!--Delete Page-->
  <!--</a>-->
  <div class="page-list col-fix11 hidden">
    <div ms-navigation-admin></div>
    <div class="actions">
      <ms-add-page site-data="siteData"></ms-add-page>
    </div>
  </div>
  <div class="page-list-overlay"></div>
</div>