<div class="row">
  <div class="form-item col5">
    <label>{{label}}</label>
    <input
            ng-change=setError()
            ms-focus ms-focus-blur=setErrorFalse()
            ng-class="(showError) ? 'form-item-error' : ''"
            ng-model='inputAdd'
            ui-keypress={13:'addItem()'}
            ms-autocomplete type='text'
            auto-complete-items='autoCompleteItems'
            model='model' />
    <small class='error bottom ng-hide' ng-show='(showError != false && showError.length)'>{{(showError) ? showError : '&nbsp;'}}</small>
  </div>
  <div class="form-item col19">
    <label class='invisible clearfix'>{{buttonText}}</label>
    <a class='ms-button medium info clearfix' ng-click='addItem()'>{{buttonText}}</a>
  </div>
</div>