<div ng-if="!staticFilters">
  <div class="form-item">
    <input type="text"
           placeholder="Search title &amp; description"
           name="queryTxt"
           ng-model="searchQuery.Query"/>

  </div>
  <div class="row">
    <div class="col5 form-item form-select">
      <select class="capitalise" ng-change="triggerSelectValue()" ng-model="filterGroupSelect" ng-options="k as k for (k,v) in filters">
        <option value="">Filter products where:</option>
      </select>
    </div>
    <div class="col5 form-item form-select">
      <select class="capitalise select-value form-select"
              ng-disabled="!filterGroupSelect"
              ng-change="addItem(filterGroupSelect, filterSelect)"
              ng-model="filterSelect"
              ng-options="k as k + ' (' + v + ')' for (k,v) in filters[filterGroupSelect]">
        <option class="default" ng-if="filterGroupSelect" value="">is:</option>
      </select>
    </div>
    <div class="col14 form-item">
      <ul class="tagit col14 form-item filter expand-on-hover marg-none"
          ng-class="(tagitVisibilityClass) ? 'enabled':'disabled'">
        <ul class="top-label">
          <li>Active filters ({{filterCount}}) <span class="large-txt">&#x2935;</span></li>
        </ul>
        <ul ng-repeat="(key, filterGroup) in filtered"
            ng-if="filterGroup.Values.length && key != 'Type' && key != 'type'">
          <input ng-bind="setTagVisibility()" type="hidden"/>
          <li class="capitalise filter-type">{{key}}</li>
          <li ng-repeat="filter in filterGroup.Values" class="tagit-choice">
            <span class="tagit-label">{{filter}}</span>
            <a class="tagit-close" data-ng-click="deleteItem(key, $index)">
              <span class="text-icon">×</span>
              <span class="ui-icon ui-icon-close"></span>
            </a>
          </li>
        </ul>
      </ul>
    </div>
  </div>
</div>

<div ng-if="staticFilters" class="row">
  <div ng-repeat="k in staticFilters | fixedOrder" ng-init="filter = staticFilters[k]" class="form-item" ng-class="{'form-select col8':filter.type === 'singleSelect', 'form-date col8':filter.type === 'date', 'form-item col24':filter.type === 'text' }">
    <input ng-if="filter.type === 'text'"
           type="text"
           placeholder="{{k}}"
           ng-model="searchQuery.Query" />
    <select ng-if="filter.type === 'singleSelect'"
            class="capitalise select-value"
            placeholder="{{k}}"
            ng-change="addItem(k, filterSelect)"
            ng-model="filterSelect"
            ng-options="v as v for (k,v) in filter.vals">
      <option class="default" value="">Select a {{k}}:</option>
    </select>
    <input  ng-if="filter.type === 'date'"
            placeholder="{{k}}"
            ng-change="addItem(k, filterSelect)"
            type="date"
            min=""
            max=""
            ng-model="filterSelect"/>
  </div>
</div>