<ul ng-if="totalPages > 1" >
  <li ng-if="totalPages >= 5">
    <button ng-click="first()" ng-disabled="searchQuery.PageNum < 1 || totalPages === 0" class="jump">First</button>
  </li>
  <li>
    <button ng-click="back()" ng-disabled="searchQuery.PageNum < 1 || totalPages === 0" class="jump">Previous</button>
  </li>
  <li ng-if="totalPages < 5">
    Page {{searchQuery.PageNum + 1}} of {{totalPages}}
  </li>
  <li ng-if="totalPages >= 5" >
    <button ng-click="goTo(page)" ng-repeat="page in pageNumbers" ng-class="(searchQuery.PageNum+1 === page) ? 'active' : ''">{{page}}</button>
  </li>
  <li>
    <button ng-click="next()" ng-disabled="searchQuery.PageNum >= totalPages-1 || totalPages === 0" class="jump">Next</button>
  </li>
  <li ng-if="totalPages >= 5">
    <button ng-click="last()" ng-disabled="searchQuery.PageNum >= totalPages-1 || totalPages === 0" class="jump">Last</button>
  </li>
</ul>