<div>
  <h1 data-ng-bind="title"></h1>
  <div ng-if="!files.length" class="rel ov-hidden">
    <i class="icon-image massive"></i>
  </div>
  <div  ng-if="files.length" class="rel ov-hidden">
    <ul class="row ov-hidden-x grid">
      <li class="like-a-link animate animated ani-width-height cover-image col{{cols}}"
          data-ng-repeat="file in files | limitTo: (enableMultiple === true) ? 10 : 0"
          ng-class="(file.default) ? 'default' : ''"
          style="background-image: url('{{file.url}}'); height:{{height}};">
        <i class="button danger icon-delete" data-ng-click="deleteItem($index)"></i>
        <i class="button primary icon-tick" ng-class="($index === 0) ? 'default' : ''" data-ng-click="setActive($index)"></i>
      </li>
    </ul>
  </div>
</div>

<div class="pointer fileinput-button rel" data-file-upload="{url: '',dataType: 'json',autoUpload:true}" data-ng-class="{'fileupload-processing': processing() || loadingFiles}">

  <!-- The fileinput-button span is used to style the file input field as button -->

  <small class="error bottom ng-hide"
         ng-show="fileLoadingError">
    There was a problem uploading some of your images
  </small>
  <div class="ov-hidden rel">
    <input ng-if="enableMultiple" type="file" name="files[]" multiple ng-disabled="disabled">
    <input ng-if="!enableMultiple" type="file" name="files[]" ng-disabled="disabled">
    <p class="light-txt">Drag an file here <br />or <strong class="like-a-link">click to browse</strong> your computer</p>
  </div>
</div>