<button ms-modal="media-library-{{editableId}}" ms-modal-class="media-library-window" class="ms-button info"></button>

<div id="media-library-{{editableId}}">
  <div class="box align-center upload-box{{fileLoadingClass}}">
    <div ms-upload="uploadedFiles" ms-title="{{title}}" ms-enable-multiple="true"></div>
  </div>
</div>