
<!-- <div class="form-item">
  <input type="checkbox" ng-model="enableAttributes" id="enableAttributes"/>
  <label for="enableAttributes">Does your product have varients?</label>
</div> -->

<div class="form-item static clearfix" ng-if="enableAttributes">

  <div class="row half">
    <div class="col5 half"><label>Attributes</label></div>
    <div class="col19 half"><label>Attribute Options <span>e.g. Red, Green, Blue</span></label></div>
  </div>
  <ul class="attribues-list clearfix" style="margin: 0; padding: 0;">
    <li class="row half" ng-repeat="attribute in attributes" >
      <div class="col5 half">
        <input type="text" placeholder="Enter a name e.g Size or Colour" ng-model="attribute.name"/>
      </div>
      <div ng-class="attributes.length === 1 ? 'col19' : 'col18'" class="half">
        <input ms-tagit ng-model="attribute.options" data-ng-class="attributes" tags-available="viewModel.getAvailableTags(attribute.name)" type="text"/>
      </div>
      <div class="col1 delete align-center half" ng-if="attributes.length !== 1">
        <a ng-click="deleteItem($index)">
          <i class="icon-delete"></i>
        </a>
      </div>
    </li>
  </ul>

  <div class="row">
    <div class="form-item col24">
      <button ng-click="addItem()" ng-disabled="attributes.length === attributeLimit" class="ms-button primary">Add a new attribute</button>
      <!-- <button ng-click="regenerateVariants()" class="ms-button primary">Regenerate Variants</button> -->
    </div>
  </div>


</div>