
<div>
  <svg display="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
      <symbol id="icon-tag" viewBox="0 0 1024 1024">
        <title>tag</title>
        <path class="path1" d="M927.812 0h-288.562c-52.906 0-126.796 30.606-164.204 68.014l-446.99 446.99c-37.408 37.408-37.408 98.624 0 136.032l344.91 344.906c37.408 37.41 98.622 37.41 136.030 0l446.99-446.988c37.408-37.41 68.014-111.302 68.014-164.204v-288.562c0-52.904-43.286-96.188-96.188-96.188zM800 320c-53.020 0-96-42.98-96-96s42.98-96 96-96 96 42.98 96 96-42.98 96-96 96z"></path>
      </symbol>
      <symbol id="icon-cart" viewBox="0 0 1024 1024">
        <title>cart</title>
        <path class="path1" d="M128 928c0-53.019 42.981-96 96-96s96 42.981 96 96c0 53.019-42.981 96-96 96s-96-42.981-96-96zM768 928c0-53.019 42.981-96 96-96s96 42.981 96 96c0 53.019-42.981 96-96 96s-96-42.981-96-96zM960 512v-384h-832c0-70.692-57.306-128-128-128v64c35.29 0 64 28.71 64 64l48.074 412.054c-29.294 23.458-48.074 59.5-48.074 99.946 0 70.694 57.308 128 128 128h768v-64h-768c-35.346 0-64-28.654-64-64 0-0.22 0.014-0.436 0.016-0.656l831.984-127.344z"></path>
      </symbol>
      <symbol id="icon-remove" viewBox="0 0 1024 1024">
        <title>remove</title>
        <path class="path1" d="M800 128h-576c-53.020 0-96 42.98-96 96v32h768v-32c0-53.020-42.98-96-96-96zM632.32 64l14.116 101h-268.872l14.114-101h240.642zM640 0h-256c-26.4 0-50.99 21.392-54.642 47.538l-18.714 133.924c-3.654 26.146 14.956 47.538 41.356 47.538h320c26.4 0 45.010-21.392 41.358-47.538l-18.714-133.924c-3.654-26.146-28.244-47.538-54.644-47.538v0zM816 320h-608c-35.2 0-61.392 28.682-58.206 63.738l52.412 576.526c3.186 35.054 34.594 63.736 69.794 63.736h480c35.2 0 66.608-28.682 69.794-63.736l52.41-576.526c3.188-35.056-23.004-63.738-58.204-63.738zM384 896h-96l-32-448h128v448zM576 896h-128v-448h128v448zM736 896h-96v-448h128l-32 448z"></path>
      </symbol>
      <symbol id="icon-search" viewBox="0 0 1024 1024">
        <title>search</title>
        <path class="path1" d="M898.304 791.962l-193.485-193.485c29.184-47.974 45.978-104.192 45.978-164.454 0-174.899-151.603-326.502-326.554-326.502-174.899 0-316.723 141.824-316.723 316.723 0 174.95 151.552 326.554 326.502 326.554 58.163 0 112.64-15.77 159.488-43.162l194.509 194.56c19.098 19.046 49.92 19.046 68.915 0l48.282-48.23c18.995-19.046 12.083-43.008-6.912-62.003zM205.005 424.243c0-121.088 98.15-219.29 219.238-219.29 121.139 0 229.069 107.93 229.069 229.069s-98.15 219.29-219.29 219.29-229.018-107.93-229.018-229.069z"></path>
      </symbol>
    </defs>
  </svg>

  <aside>
    <div ms-content-item-shop-mini-basket content-item-data="contentItemData" content-item-meta-data="contentItemMetaData"></div>
    <ms-shop-search search-text="searchText" category="currentCategory"></ms-shop-search>
    <ms-shop-category-list categories="categories" callback="selectCategory"></ms-shop-category-list>
  </aside>
  <div class="shop-content">
    <div ng-hide="!error">{{error}}</div>
    <div ng-hide="error">
      <div class="category clearfix">
        <h1 ng-if="categoryFilters"><span ng-repeat="categoryFilter in categoryFilters">{{categoryFilter}} / </h1>
        <ul>
          <li ng-repeat="product in filteredItems  = (products | filter:customSearch | paginate:paging)">
            <div class="image">
              <img ng-src="{{product.Images[0]}}" />
            </div>
            <div class="info">
              <h3>{{product.Name}}</h3>
              <span class="price">{{product.Variants[0].Price | currency}}</span>
            </div>
            <div class="buttons">
              <button ng-click="selectProduct(product)" class="button">View Product</button>
            </div>
          </li>
          <div ng-hide="filteredItems.length||!products.length">No product found</div>
        </ul>
      </div>
      <div class="pagination-wrap">
        <ul class="pagination">
          <li class="contols" ng-disabled="paging.page === 0" ng-click="paging.page=paging.page-1">&lt;</li>
          <li ng-repeat="page in paging.pages" class="" ng-class="{active:paging.page === page}" ng-click="paging.page=page">{{page+1}}</li>
          <li class="contols" ng-disabled="paging.page === paging.pages.length - 1" ng-click="paging.page=paging.page+1">&gt;</li>
        </ul>
      </div>
    </div>
  </div>
</div>