<div class="search clearfix">
  <div class="title">
    <svg class="icon-search"><use xlink:href="#icon-search"></use></svg>
    <h1>Search {{category}}</h1>
  </div>
  <div class="search-wrap">
    <input type="text" ng-model="searchText"/>
  </div>

</div>