<div class="categories" ng-hide="!categories.length">
    <div class="title">
        <svg class="icon-tag"><use xlink:href="#icon-tag"></use></svg>
        <h1>Categories</h1>
    </div>
    <div class="category-list">
        <ul>
            <li class="category" ng-repeat="category in categories track by $index">
                <span class="category-name" ng-click="selectCategory(category.name)">{{category.name}}</span>

                <svg class="expander-control" ng-hide="!category.children.length">
                    <use xlink:href="{{svgUrl('icon-expander')}}"></use>
                </svg>

                <ul class="sub-categories" ng-hide="!category.children.length">
                    <li class="sub-category" ng-repeat="child in category.children">
                        <span ng-click="selectCategory(category.name, child.name)">{{child.name}}</span>
                    </li>
                </ul>

            </li>
        </ul>
    </div>
</div>
