<div class="ngdialog-title">
  Your session has expired
</div>
<div class="ngdialog-info">
  <p>Your session has expired. Please click 'Login' below to continue editing your website</p>
</div>
<div class="ms-buttons ngdialog-buttons">
  <button class="ms-button primary" ng-click="goIdServer()">Login</button>
  <button class="ms-button info" ng-if="showCancel" ng-click="cancel()">Continue as Guest</button>
</div>