<div>
  <span class="label dialog">{{editable.name}}<i class="icon-rightarrow"></i></span>

  <div class="editable-dialog">
    <div class="editable" ng-if="editable.Variables['font-family']">
      <label>Font</label>
      <div font-family-picker-directive ng-model="editable.Variables['font-family'].Value"></div>
    </div>
    <div class="editable" ng-if="editable.Variables['font-size']">
      <label>Size</label>
      <div slider-directive ng-model="editable.Variables['font-size'].Value" min="0.6" max="5" step="0.1"></div>
    </div>
    <div class="editable" ng-if="editable.Variables['font-weight']">
      <label>Weight</label>
      <select ng-model="editable.Variables['font-weight'].Value">
        <option value="normal">Normal</option>
        <option value="bold">Bold</option>
      </select>
    </div>
    <div class="editable" ng-if="editable.Variables['font-style']">
      <label>Style</label>
      <select ng-model="editable.Variables['font-style'].Value">
        <option value="italic">Italic</option>
        <option value="normal">Normal</option>
        <option value="oblique">Oblique</option>
      </select>
    </div>
    <div class="editable" ng-if="editable.Variables['text-transform']">
      <label>Transform</label>
      <select ng-model="editable.Variables['text-transform'].Value">
        <option value="none">None</option>
        <option value="uppercase">Uppercase</option>
        <option value="lowercase">Lowercase</option>
        <option value="capitalize">Capitalize</option>
      </select>
    </div>
    <div class="editable" ng-if="editable.Variables['text-decoration']">
      <label>Decoration</label>
      <select ng-model="editable.Variables['text-decoration'].Value">
        <option value="none">None</option>
        <option value="underline">Underline</option>
        <option value="line-through">Line through</option>
        <option value="overline">Overline</option>
      </select>
    </div>
    <div class="editable" ng-if="editable.Variables['letter-spacing']">
      <label>Letter spacing</label>
      <div slider-directive ng-model="editable.Variables['letter-spacing'].Value" min="-0.1" max="0.6" step="0.1"></div>
    </div>
    <div class="editable" ng-if="editable.Variables['line-height']">
      <label>Line height</label>
      <div slider-directive ng-model="editable.Variables['line-height'].Value" min="1" max="5" step="0.1"></div>
    </div>
  </div>
</div>
