<div class="ngdialog-info">
  <div tabset class="tabs-wrap tab-animation">
    <div tab heading="Page Info">
      <div class="form-item"><label>Page title</label><input type="text" placeholder="Enter a title for your page"  ng-model="localSettings.name" required/></div>
      <div class="form-item"><label>Page URL</label> <input type="text" placeholder="This will be auto generated from your page title" ng-model="settingsPage.url" readonly required/></div>
      <div class="form-item" ng-hide="settingsPage.ishomepage"><button class="ms-button primary" ng-click="settingsPage.ishomepage = true">Set as your homepage</button></div>
      <div class="form-item" ng-show="settingsPage.ishomepage"><span class="ms-button default"><i class="icon-tick"></i> This page is your homepage</span></div>
    </div>

    <div tab heading="SEO">
      <div meta-data-directive scope='site' type='page' type-id='{{settingsPage.id}}'></div>
    </div>
  </div>
</div>
<div class="ngdialog-buttons">
  <button class="ms-button primary" ng-click="closeThisDialog()">Accept</button>
</div>