<div class="hover-upload" data-file-upload="{url: '', dataType: 'json', autoUpload:true, dropZone: '.dropZone'}" data-ng-class="{'fileupload-processing': processing() || loadingFiles}">

  <button class="ms-button" ng-click="clickUploadButton()">{{buttonText}}</button>
  <input id="product-image-upload" class="image-upload" type="file" name="files[]" multiple ng-disabled="disabled">
</div>
<small class="message error bottom ng-hide" ng-show="fileLoadingError">
  There was a problem uploading some of your files
</small>