<div>
  <!--<h1 data-ng-bind="title"></h1>-->

  <div ng-if="!files.length" class="rel ov-hidden">
    <i class="icon-image massive"></i>
  </div>

</div>

<div class="pointer fileinput-button rel" data-file-upload="{url: '', dataType: 'json', autoUpload:true, dropZone: '.dropZone'}" data-ng-class="{'fileupload-processing': processing() || loading}">
  <small class="message error bottom ng-hide" ng-show="fileLoadingError">
    There was a problem uploading some of your files
  </small>
  <div class="ov-hidden rel">
    <p>Drop a file here or</p>
    <button class="ms-button" ng-click="clickUploadButton()">Add an image</button>
    <input id="product-image-upload" class="image-upload" type="file" name="files[]" multiple ng-disabled="disabled">
  </div>
</div>