<div class="pointer fileinput-button rel" data-file-upload="{url: '', dataType: 'json', autoUpload:true, dropZone: '.dropZone'}" data-ng-class="{'fileupload-processing': processing() || loadingFiles}">
  <small class="message error bottom ng-hide" ng-show="fileLoadingError">
    There was a problem uploading some of your files
  </small>
  <div class="ov-hidden rel">
    <p>Drop a file here or</p>
    <button class="ms-button" ng-click="clickUploadButton()">{{buttonText}}</button>
    <!--<input id="product-image-upload" class="image-upload" type="file" name="files[]" multiple ng-disabled="disabled">-->

    <input id="product-image-upload" class="image-upload" type="file" name="files[]" multiple ng-disabled="disabled">
    <!--<input id="product-image-upload2" class="image-upload" type="file" name="files[]" ng-if="!enableMultiple" ng-disabled="disabled">-->
  </div>


</div>