<div class="pointer fileinput-button rel"
     data-file-upload="{url: '', dataType: 'json', autoUpload:true, dropZone: '.dropZone'}"
     data-ng-class="{'fileupload-processing': processing() || loadingFiles}">
  <small class="message error bottom ng-hide" ng-show="fileLoadingError">
      {{fileLoadingErrorMessage}}
  </small>
  <div class="ov-hidden rel">
    <p>Drop a file here or</p>
    <button class="ms-button primary" ng-click="clickUploadButton($event)">{{buttonText}}</button>
    <input class="image-upload" type="file" name="files[]" multiple ng-disabled="disabled">
  </div>
</div>