<div class="hover-upload" data-file-upload="{url: '', dataType: 'json', autoUpload:true, dropZone: '.dropZone'}"
     data-ng-class="{'fileupload-processing': processing() || loadingFiles}">

  <small class="message error bottom ng-hide" ng-show="fileLoadingError">
    {{fileLoadingErrorMessage}}
  </small>
  <button class="ms-button primary" ng-click="clickUploadButton($event)">{{buttonText}}</button>
  <input class="image-upload" type="file" name="files[]" ng-disabled="disabled">
</div>