<div>
  <svg display="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
      <symbol id="icon-remove" viewBox="0 0 1024 1024">
        <title>remove</title>
        <path class="path1" d="M800 128h-576c-53.020 0-96 42.98-96 96v32h768v-32c0-53.020-42.98-96-96-96zM632.32 64l14.116 101h-268.872l14.114-101h240.642zM640 0h-256c-26.4 0-50.99 21.392-54.642 47.538l-18.714 133.924c-3.654 26.146 14.956 47.538 41.356 47.538h320c26.4 0 45.010-21.392 41.358-47.538l-18.714-133.924c-3.654-26.146-28.244-47.538-54.644-47.538v0zM816 320h-608c-35.2 0-61.392 28.682-58.206 63.738l52.412 576.526c3.186 35.054 34.594 63.736 69.794 63.736h480c35.2 0 66.608-28.682 69.794-63.736l52.41-576.526c3.188-35.056-23.004-63.738-58.204-63.738zM384 896h-96l-32-448h128v448zM576 896h-128v-448h128v448zM736 896h-96v-448h128l-32 448z"></path>
      </symbol>
    </defs>
  </svg>
  <div class="shop-content full-width">
    <div>
        <div class="cart">
            <h1>Cart</h1>
            <div ng-if="!cart||cart.length<=0">
                Your basket is empty

                <div class="buttons">
                    <button ng-click="goToShop()" class="button continue">Continue Shopping</button>
                </div>
            </div>
            <div ng-if="cart.length>0">
                <ul class="cart-table">
                    <li class="head">
                        <div class="image">
                            Image
                        </div>
                        <div class="name">
                            Name
                        </div>
                        <div class="quantity">
                            Quantity
                        </div>
                        <div class="price">
                            Price
                        </div>
                        <div class="actions">
                        </div>
                    </li>
                    <li ng-repeat="cartItem in cart track by $index">
                        <div class="image">
                            <img ng-src="{{cartItem.imgUrl}}" />
                        </div>
                        <div class="name">
                            {{cartItem.name}}

                            <div class="attribute" ng-repeat="attribute in cartItem.attributes">
                                <span>{{attribute.Key}}</span> - <span>{{attribute.Value}}</span>
                            </div>
                        </div>
                        <div class="quantity">
                            <div ms-shop-add-to-cart product="cartItem"></div>
                        </div>
                        <div class="price">
                            {{cartItem.price | currency}}
                        </div>
                        <div class="actions" ng-click="removeItem(cartItem)">
                            <span class="remove"><svg class="icon-remove"><use xlink:href="#icon-remove"></use></svg></span>
                        </div>
                    </li>
                    <li class="sub-total">
                        <div class="image">
                        </div>
                        <div class="name">
                        </div>
                        <div class="quantity">
                        </div>
                        <div class="price">
                            {{total | currency}}
                        </div>
                        <div class="actions">
                        </div>
                    </li>
                </ul>

                <div ng-if="!checkoutInfo.HasPaymentGateway" class="message error">There is no payment gate way set up on this shop. Please contact to the website administrator.</div>


                <div class="buttons">
                    <button ng-click="goToShop()" class="button continue">Continue Shopping</button>
                  <button ng-if="checkoutInfo.HasPaymentGateway" ng-click="goToCheckout()" class="button checkout">Checkout</button>


                  <div ng-if="checkoutInfo.HasPaymentGateway && checkoutInfo.UseExpressCheckoutShortcut">
                    <span class="checkout">&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;</span>
                    <img ng-click="checkoutWithPayPal()" alt="Checkout with PayPal"
                         src="bower_components/msContentItemShop/checkout-logo-small-en.png" align="right"
                         style="margin-right:7px;">
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>