<div class="add-page-wrap" ng-class="{ full : isExceed }">
  <button ng-if="!isExceed" class="ms-button primary left" ng-click="addPageModal()">Add a new page</button>
  <button ng-if="isExceed && settings.accountId" class="ms-button warning" ng-click="buyNow()">Upgrade for more pages</button>
  <div class="page-status" ng-class="{ full : isExceed }">
    <span>Pages used: {{pageAmount.used}} / {{pageAmount.limit}}</span>
    <div class="status-bar"></div>
  </div>
</div>