<div class="row">
  <div ng-if="type=='product'" class="col24">
    <h2>Meta data</h2>
    <label>Page Title</label><input ng-change="onChange()" ng-model="properties.PageTitle.Value"></input>
    <label>Page Description</label><input ng-change="onChange()" ng-model="properties.PageDescription.Value"></input>
  </div>
  <div ng-if="type=='post'" class="col24">
    <h2>Meta data</h2>
    <label>Page Title</label><input ng-change="onChange()" ng-model="properties.PageTitle.Value"></input>
    <label>Page Description</label><input ng-change="onChange()" ng-model="properties.PageDescription.Value"></input>
  </div>
  <div ng-if="type=='page'" class="col24">
    <div class="form-item"><label>SEO Title</label><input ng-change="onChange()" type="text" ng-model="properties.PageTitle.Value" /></div>
    <div class="form-item"><label>Page Description</label> <textarea ng-change="onChange()" ng-model="properties.PageDescription.Value"></textarea>
  </div>
</div>