<label>{{field.label}}</label>

<select  ng-model="formData.value" ng-init="setData()">
  <option ng-repeat="option in field.options track by option" ng-selected="formData.value == option">{{option}}</option>
</select>