<label>{{field.label}}</label>
<ul class="radio-list">
  <li ng-repeat="option in field.options">
    <input id="{{option}}" name="{{field.id}}" type="radio" value="{{option}}" ng-model="formData.value" ng-init="setData()"/>
    <label for="{{option}}" class="radio">{{option}}</label>
  </li>
</ul>
