
  <div>
    <div class="blog-single-post" ng-hide="">
      <div ng-if="showBackToShopButton" class="top-bar">
        <button ng-click="back()" class="button">Back to listing</button>
      </div>

      <div class="" ng-hide="!error">
        {{error}}
      </div>
      <div class="info" ng-hide="!blogPost">

        <div class="blog-image">
          <img ng-if="blogPost.Images.length>0" ng-src="{{blogPost.Images[0].Url}}" />
        </div>

        <div class="blog-meta">
          <h1>{{blogPost.Title}}</h1>
          <span class="author">
            <svg viewBox="0 0 20 20">
              <use xlink:href="{{svgUrl('user-icon')}}"></use>
            </svg>
            {{blogPost.Author}}
          </span>
          <span class="date">
            <svg viewBox="0 0 20 20">
              <use xlink:href="{{svgUrl('clock-icon')}}"></use>
            </svg>
            {{blogPost.Created | date: 'dd MMMM, yyyy'}}
          </span>
          <span>
            <svg viewBox="0 0 20 20">
              <use xlink:href="{{svgUrl('comment-icon')}}"></use>
            </svg>
            {{blogPost.totalComments}} Comments
          </span>
        </div>

        <div class="blog-content">
          <p ng-bind-html="blogPost.Content | unsafe"></p>
        </div>

        <div ng-if="blog&&blog.IsCommentsEnabled" ms-discussion discussion-id="blogPost.DiscussionId"></div>
        <div ng-if="blog&&!blog.IsCommentsEnabled">Comments are disabled</div>
      </div>
    </div>
  </div>