<div class="contact-form">

  <div class="form">

    <div class="form-item {{field.type}}" ng-repeat="field in contentItemData.settings.formItems">
      <field-directive field="field" form-data="formData[$index]"></field-directive>
    </div>

    <div class="form-item">
      <button class="button submit-button" ng-click="submitForm()"><span>{{contentItemData.settings.buttonText}}</span></button>
    </div>
  </div>
</div>
