<div>
  <div ms-scrollbar-plus>
    <div class="col-fix14">
      <ul class="field-items">
        <li id="{{formItem.id}}" class="field-item" ng-repeat="formItem in settings.formItems">

          <div class="basic-info">
            <input type="text" class="field-label" ng-model="formItem.label"/>

            <div class="actions">
              <i class="icon-settings" ng-click="showSettings($event)"></i>
              <i class="icon-delete" ng-click="deleteField($index)"></i>
              <i class="icon-reorder"></i>
            </div>
          </div>

          <div class="field-settings" ng-if="formItem.placeholder !== undefined || formItem.options || formItem.required">
            <div class="form-item" ng-if="formItem.placeholder !== undefined">
              <label>Placeholder</label>
              <input type="text" ng-model="formItem.placeholder"/>
            </div>
            <div class="form-item" ng-if="formItem.options">
              <label>Options</label>
              <textarea ng-model="formItem.options" rows="5" ng-list="&#10;" ng-trim="false"></textarea>
            </div>
            <div class="form-item" ng-if="formItem.required">
              <label>Required?</label>
              <input type="checkbox" ng-model="formItem.required"/>
            </div>
          </div>
        </li>
      </ul>
      <div class="add-field">
        <button class="ms-button primary" ng-click="showNewItems()"><i class="icon-add"></i></button>
      </div>
    </div>

    <div class="col-fix14">
      <hr>
    </div>
    <div class="col-fix14">
      <label>Send to</label>
      <input type="text" ng-model="settings.toEmail"/>
    </div>
    <div class="col-fix14">
      <label>Subject</label>
      <input type="text" ng-model="settings.subject"/>
    </div>
    <div class="col-fix14">
      <label>Button text</label>
      <input type="text" ng-model="settings.buttonText"/>
    </div>
  </div>
</div>