<div class="ngdialog-title">
  Add a field
</div>
<div class="ngdialog-info">
  <ul class="new-form-item">
    <li class="form-item" ng-repeat="formItem in formFieldTypes" ng-click="addFormItem(formItem); closeThisDialog()">
      <img ng-src="bower_components/msContentItemContactForm/fields/{{formItem.type}}.png"/>
      <span>{{formItem.type}}</span>
    </li>
  </ul>
</div>