<div>
  <div class="row-fix">
    <div class="col-fix14">
      <p>Social links are icons that visitors can click on to go to your social media pages. Enter your social media user names in the boxes below</p>
    </div>
  </div>
  <div class="row-fix">
    <div class="col-fix7">
      <label for="social-icon-type">Icon Style</label>
      <select ng-model="settings.selectedStyle" name="social-icon-type" ng-options="style.name for style in socialIconStyles track by style.id"></select>
    </div>
    <div class="col-fix7">
      <label for="social-icon-type">Icon Colour</label>
      <select ng-model="settings.selectedColor" name="social-icon-color" ng-options="color.name for color in socialIconColors track by color.id"></select>
    </div>
  </div>
  <div ng-repeat="socialLink in settings.socialLinks">
    <div class="row-fix">
      <div class="col-fix14"><label>{{socialLink.name}}</label>
        <input type="text" value="{{socialLink.url}}" ng-model="socialLink.url" />
      </div>
    </div>
  </div>
</div>
