<nav class="ms-block navigation-block">

  <svg display="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
      <symbol id="icon-close" viewBox="0 0 1024 1024">
        <path d="M734.669 673.382l-141.21-161.382 141.21-161.382c24.013-24.013 24.013-62.925 0-86.886-24.013-23.962-62.925-23.962-86.886 0l-135.782 155.187-135.731-155.136c-24.013-24.013-62.925-24.013-86.886 0-23.962 24.013-23.962 62.925 0 86.886l141.158 161.331-141.21 161.382c-23.962 24.013-23.962 62.822 0 86.784 24.013 24.013 62.925 24.013 86.886 0l135.782-155.085 135.731 155.085c24.013 24.013 62.925 24.013 86.886 0s24.013-62.771 0.051-86.784z"></path>
      </symbol>
      <symbol id="icon-list" viewBox="0 0 1024 1024">
        <path d="M819.2 460.8h-614.4c-28.262 0-51.2 22.938-51.2 51.2s22.938 51.2 51.2 51.2h614.4c28.314 0 51.2-22.938 51.2-51.2s-22.886-51.2-51.2-51.2zM204.8 358.4h614.4c28.314 0 51.2-22.938 51.2-51.2s-22.886-51.2-51.2-51.2h-614.4c-28.262 0-51.2 22.938-51.2 51.2s22.938 51.2 51.2 51.2zM819.2 665.6h-614.4c-28.262 0-51.2 22.886-51.2 51.2s22.938 51.2 51.2 51.2h614.4c28.314 0 51.2-22.886 51.2-51.2s-22.886-51.2-51.2-51.2z"></path>
      </symbol>
      <symbol id="icon-dropdown" viewBox="0 0 512 512">
        <path d="M255.8 333.7l183.1-183.3c11.7-12.3 31-15.2 47-2.9l15.2 15.2c11.7 12.2 11.8 32.1.1 44.3l-212.7 212.4c-.2.3-.3.5-.5.7l-10.6 11.1c-5.8 6.2-13.5 9.2-21.2 9.2-7.7.1-14.5-3.9-20.4-10l-9.7-12-1.4.2-214.2-213.8c-11.7-12.2-9-29.2 2.6-41.6l15.1-15.3c11.7-12.3 31.6-11.4 43.3.8l184.3 185z"></path>
      </symbol>
    </defs>
  </svg>

  <div class="mobile-menu">
    <svg class="icon-list"><use xlink:href="#icon-list"></use></svg>
    <span>Menu</span>
  </div>

  <div class="mobile-menu-close">
    <svg class="icon-close"><use xlink:href="#icon-close"></use></svg>
    <span>Close</span>
  </div>

  <ul class="nav">
    <li ng-class="(menuItem.pageId==page.id) ? 'active':''" ng-repeat="menuItem in menu" ng-hide="menuItem.hideInMenu">

      <a ng-if="menuItem.type === 'Page'" ng-href="/#{{editMode?'/pageBuilder':'!'}}{{menuItem.url}}" ng-click="linkClicked()">{{menuItem.name}}</a>
      <a ng-if="menuItem.type === 'Category'" ng-href="/#{{editMode?'/pageBuilder':'!'}}{{shopUrl}}/{{menuItem.url}}" ng-click="linkClicked()">{{menuItem.name}}</a>
      <span ng-if="menuItem.subMenuItems.length > 0"><svg class="icon-dropdown"><use xlink:href="#icon-dropdown"></use></svg></span>
      <ul ng-if="menuItem.subMenuItems.length > 0" class="subnav">
        <li ng-class="(child.pageId==page.id) ? 'active':''" ng-repeat="child in menuItem.subMenuItems">
          <a ng-if="child.type === 'Page'" ng-href="/#{{editMode?'/pageBuilder':'!'}}{{child.url}}" ng-click="linkClicked()">{{child.name}}</a>
          <a ng-if="child.type === 'Category'" ng-href="/#{{editMode?'/pageBuilder':'!'}}{{shopUrl}}{{child.url}}" ng-click="linkClicked()">{{child.name}}</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
