<div>
  <ul class="clearfix animated animation-slide-down nav nav-{{type || 'tabs'}}"
      ng-class="((tabs).length === 1) ? 'single-tab' : ''" ng-transclude></ul>
  <div class="tab-content">
    <div class="tab-pane"
         ng-repeat="tab in tabs"
         ng-class="{active: tab.active}"
         tab-content-transclude="tab">
    </div>
  </div>
</div>