<div class="gallery-grid-wrap">
  <ul class="{{itemsPerRowClass}}" ng-class="{ 'crop-images': contentItemData.settings.cropImages }">
    <li ng-repeat="slide in slides">
      <a ng-if="!contentItemData.settings.cropImages" ng-href="{{slide.image}}" ms-lightbox rel="{{editableId}}" title="{{slide.caption}}">
        <img ng-src="{{slide.image}}"/>
      </a>

      <div class="image" ng-if="contentItemData.settings.cropImages" >
        <a ng-href="{{slide.image}}" ms-lightbox rel="{{editableId}}" title="{{slide.caption}}" style="background-image: url({{slide.image}});"></a>
      </div>

      <div class="caption" ng-if="contentItemData.settings.showCaptionsInGrid && contentItemData.settings.itemsPerRow <= 5">
        {{slide.caption}}
      </div>
    </li>
  </ul>
</div>