<div class="wrap" style="height: 100%; max-height: {{contentItemData.settings.height}}px;">
  <carousel interval="contentItemData.settings.interval">
    <div></div>
    <slide ng-repeat="slide in slides" active="slide.active">
      <img ng-src="{{slide.image}}">
      <div class="carousel-caption">
        <h4>{{slide.title}}</h4>
        <p>{{slide.description}}</p>
      </div>
    </slide>
  </carousel>
</div>
