<div class="ms-no-settings ms-tools">
  Gallery<br> 
  <div class="ov-hidden rel" ng-click="openSettings()" >
    <button class="ms-button primary" id="open-settings" ng-click="openSettings()">Upload images</button>
  </div>
</div>