<div>
  <div class="row-fix">
    <div class="col-fix14">
      <div class="image-wrap slide-show">
        <div class="row-fix images">
          <div id="{{image.$$hashKey}}" class="col-fix4 image" ng-model="image" ng-repeat="image in settings.images">
            <ms-image-settings settings="image"></ms-image-settings>
            <a ng-click="deleteImage($index)" class="delete icon-delete control"></a>
            <img ng-src="{{image.url}}"/>
          </div>
        </div>
        <ms-media-library mode="'dialog'" editable-id="editableId" uploaded-files="images" title="modalTitle" multiple-upload=true></ms-media-library>
      </div>
    </div>
  </div>
  <div class="row-fix">
    <div class="col-fix14">
      <label for="gallery-type">Gallery Type</label>
      <select ng-model="settings.selectedType" name="gallery-type" ng-options="type.name for type in galleryTypes track by type.id"></select>
    </div>
  </div>
  <div class="row-fix" ng-hide="settings.selectedType.id !== 'slideshow'">
    <div class="col-fix14">
      <label>Height</label>

      <div id="height" class="slider"></div>
    </div>
  </div>
  <div class="row-fix" ng-hide="settings.selectedType.id !== 'slideshow'">
    <div class="col-fix14">
      <label>Interval</label>

      <div id="interval" class="slider"></div>
    </div>
  </div>
  <div class="row-fix" ng-hide="settings.selectedType.id !== 'slideshow'">
    <div class="col-fix7">
      <input type="checkbox" id="controls" name="controls" ng-model="settings.showControls"/>
      <label for="controls">Controls</label>
    </div>
  </div>
  <div class="row-fix" ng-hide="settings.selectedType.id !== 'grid'">
    <div class="col-fix14">
      <label for="itemsPerRow">Items Per Row</label>
      <div id="itemsPerRow" name="itemsPerRow" class="slider"></div>
    </div>
  </div>
  <div class="row-fix" ng-hide="settings.selectedType.id !== 'grid'">
    <div class="col-fix7">
      <input type="checkbox" id="captions" name="captions" ng-model="settings.showCaptionsInGrid"/>
      <label for="captions">Show captions in grid</label>
    </div>
    <div class="col-fix7">
      <input type="checkbox" id="crop-images" name="crop-images" ng-model="settings.cropImages"/>
      <label for="crop-images">Crop Images</label>
    </div>
  </div>
  <!-- <div class="row-fix" ng-hide="settings.selectedType.id !== 'grid'">
    <div class="col-fix14">
      <input type="checkbox" id="useLightbox" name="useLightbox" ng-model="settings.useLightbox"/>
      <label for="useLightbox">Lightbox</label>
    </div>
  </div> -->
</div>
