<div>
  <span class="label dialog">{{editable.name}}<i class="icon-rightarrow"></i></span>

  <div class="editable-dialog">
    <div class="editable" ng-if="editable.Variables['background-image']">
      <div single-image-for-editable-directive ng-model="editable.Variables['background-image'].Value"></div>
    </div>
    <div class="editable" ng-if="editable.Variables['background-repeat']">
      <label>Repeat</label>
      <select ng-model="editable.Variables['background-repeat'].Value">
        <option value="no-repeat">No repeat</option>
        <option value="repeat">Repeat</option>
        <option value="repeat-x">Repeat-x</option>
        <option value="repeat-y">Repeat-y</option>
        <option value="space">Space</option>
        <option value="round">Round</option>
      </select>
    </div>
    <div class="editable" ng-if="editable.Variables['background-size']">
      <label>Size</label>
      <select ng-model="editable.Variables['background-size'].Value">
        <option value="auto">Auto</option>
        <option value="cover">Cover</option>
        <option value="contain">Contain</option>
      </select>
    </div>
    <div class="editable" ng-if="editable.Variables['background-position']">
      <label>Position</label>
      <select ng-model="editable.Variables['background-position'].Value">
        <option value="left top">Left Top</option>
        <option value="center top">Center Top</option>
        <option value="right top">Right Top</option>
        <option value="left center">Left Center</option>
        <option value="center center">Center Center</option>
        <option value="right center">Right Center</option>
        <option value="left bottom">Left Bottom</option>
        <option value="center bottom">Center Bottom</option>
        <option value="right bottom">Right Bottom</option>
      </select>
    </div>
    <div class="editable" ng-if="editable.Variables['background-attachment']">
      <label>Attachment</label>
      <select ng-model="editable.Variables['background-attachment'].Value">
        <option value="fixed">Fixed</option>
        <option value="scroll">Scroll</option>
      </select>
    </div>
  </div>

</div>