<div class="ngdialog-info">
  <div tabset class="tabs-wrap tab-animation">
    <div tab heading="Page Info">
      <div class="form-item"><label>Page title</label><input type="text" placeholder="Enter a title for your page" ng-change="updateUrl(page)" ng-model="page.name" required/></div>
      <div class="form-item"><label>Page URL</label> <input type="text" placeholder="This will be auto generated from your page title" ng-model="page.url" readonly required/></div>
    </div>

    <div tab heading="SEO">

    </div>
  </div>
</div>
<div class="ngdialog-buttons">
  <button class="ms-button primary">Save</button>
</div>