<div class="row">
  <div class="col24">
    <label>Meta tags</label>
    <ul ng-if="metaTags.length > 0" class="meta-tags">
      <li ng-repeat="metaTag in metaTags">
        <span class="tag-title">{{getMetaTagType(metaTag)}}</span>
        <span class="tag-data">&lt;meta <span ng-repeat="property in metaTag.attributes"> {{property.name}}="{{property.value}}"</span> /&gt;</span>
        <span ng-click="delete($index)" class="icon-delete"></span>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col20">
    <input type="text" ng-model="newMetaTag" class="message" ng-class="{error:error}"/>
  </div>
  <div class="col4">
    <button class="ms-button primary" ng-click="add()">Add</button>
  </div>
</div>