<div class="addToCart clearfix">
  <div ng-if="!showVariantMessage">
    <button ng-if="!(item.quantity>0)" ng-click="addToCart(product)" ng-disabled="disabled" class="button">Add to cart</button>
    <div ng-if="item.quantity>0">
      <input type="number" ng-model="item.quantity" min="1"/>
      <button ng-if="showRemove==='button'" class="remove-basket-button button" ng-click="removeFromBasket(item)">Remove from basket</button>
      <div ng-if="showRemove==='div'" class="remove-basket-div" ng-click="removeFromBasket(item)">Remove</div>
      <!--<span style="display: inline-block;margin: 0px 10px;">{{item.quantity}}</span>-->
      <!--<div class="buttons">-->
        <!--<button ng-click="addToCart(product, -1)" style="display: inline-block;">-</button>-->
        <!--<button ng-click="addToCart(product)" style="display: inline-block;">+</button>-->
      <!--</div>-->
    </div>
  </div>
  <div ng-if="showVariantMessage">
    Please select a product variant.
  </div>
</div>