.ms-block.shop-category-block {
  width: 100%;
}

@media screen and (max-width: 725px ){
  .ms-block.shop-category-block{
    padding: 1em 0 !important;
  }
}

.ms-block.shop-category-block .message{
  text-align: center;
  border-radius: 4px;
  padding: 1em;
  line-height: 1.5em;
  word-wrap: break-word;
  border: 1px solid;
  margin-top: 1em;
}
.ms-block.shop-category-block .message.error{
  border-color: #ff6c60;
  background: #fff9f9;
  color: #ff6c60;
}


.ms-block.shop-category-block .hide{
  display: none !important;
}

.ms-block.shop-category-block .clearfix:before,
.ms-block.shop-category-block .clearfix:after {
  content: " ";
  display: table;
}

.ms-block.shop-category-block .clearfix:after {
  clear: both;
}

.ms-block.shop-category-block .button:disabled {
  -webkit-opacity: 0.3;
  -moz-opacity: 0.3;
  -ms-opacity: 0.3;
  -o-opacity: 0.3;
  opacity: 0.3;
}

.ms-block.shop-category-block:before,
.ms-block.shop-category-block:after {
  content: " ";
  display: table;
}

.ms-block.shop-category-block:after {
  clear: both;
}

.ms-block.shop-category-block .addToCart {
  width: 100%;
}

.ms-block.shop-category-block .addToCart span {
  float: left;
}

.ms-block.shop-category-block .addToCart .buttons {
  float: left;
  width: 15px;
}

.ms-block.shop-category-block .addToCart .buttons button {
  width: 15px;
  background: none;
}

.ms-block.shop-category-block aside {
  width: 20%;
  float: left;
  margin-right: 2%;
}

@media screen and (max-width:900px) {
  .ms-block.shop-category-block aside {
    width: 35% !important;
  }
}

@media screen and (max-width:640px) {
  .ms-block.shop-category-block aside {
    width: 100% !important;
    margin-bottom: 1em;
    padding: 1em !important;
  }
}

.ms-block.shop-category-block aside .title {
}

.ms-block.shop-category-block aside .title svg {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
}

.ms-block.shop-category-block aside .title h1 {
  display: inline-block;
}

@media screen and (max-width: 640px){

  .ms-block.shop-category-block aside .title {
    display: table-cell;
  }

  .ms-block.shop-category-block aside .title h1 {
    font-size: 1rem !important;
    display: block;
    line-height: 1rem;
    margin: 0;
  }
}

@media screen and (max-width:400px) {
  .ms-block.shop-category-block aside .title h1 {
    font-size: 0.8rem !important;
  }
}

.ms-block.shop-category-block aside .mini-cart {
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 1em;
  padding-bottom: 1em;
  box-sizing: border-box;
}

.ms-block.shop-category-block aside .mini-cart h1:before {
  display: none !important;
}

@media screen and (max-width:640px) {
  .ms-block.shop-category-block aside .mini-cart {
    width: 33%;
    border-bottom: 0;
    display: table;
    float: left;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .ms-block.shop-category-block aside .mini-cart > div.cartActions {
    display: none !important;
  }
}

.ms-block.shop-category-block aside .search {
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 1em;
  padding-bottom: 1em;
  box-sizing: border-box;
}

.ms-block.shop-category-block aside .search h1:before {
  display: none !important;
}

.ms-block.shop-category-block aside .search input {
  width: 100%;
}

@media screen and (max-width:640px) {
  .ms-block.shop-category-block aside .search {
    width: 33%;
    border-bottom: 0;
    display: table;
    float: left;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .ms-block.shop-category-block aside .search .title {
    text-align: center;
  }
  .ms-block.shop-category-block aside .search .search-wrap {
    display: none;
  }

  .ms-block.shop-category-block aside .search.open {
    width: 100%;
    text-align: left;
  }

  .ms-block.shop-category-block aside .search.open .search-wrap {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
  }

  .ms-block.shop-category-block aside .search.open .search-wrap input {
    padding: 0.6em 0.8em !important;
    border-width: 1px !important;
  }
}

.ms-block.shop-category-block aside .categories {
}
.ms-block.shop-category-block aside .categories h1:before {
  display: none !important;
}

.ms-block.shop-category-block aside .categories .category-list ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width:640px) {
  .ms-block.shop-category-block aside .categories {
    width: 33%;
    border-bottom: 0;
    display: table;
    float: left;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .ms-block.shop-category-block aside .categories .category-list {
    display: none;
  }

  .ms-block.shop-category-block aside .categories.open{
    width: 100%;
  }

  .ms-block.shop-category-block aside .categories.open .category-list {
    display: table-cell;
    width: 70%;
    text-align: center;
    padding-left: 10px;
  }

}


.ms-block.shop-category-block .shop-content {
  width: 78%;
  float: left;
}

@media screen and (max-width:900px) {
  .ms-block.shop-category-block .shop-content {
    width: 63%;
  }
}

@media screen and (max-width:640px) {
  .ms-block.shop-category-block .shop-content {
    width: 100%;
  }
}

.ms-block.shop-category-block .shop-content.full-width {
  width: 100%;
}

.ms-block.shop-category-block .shop-content .category ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ms-block.shop-category-block .shop-content .category ul li {
  display: inline-block;
  width: 33.333%;
  text-align: center;
  padding: 1em;
  box-sizing: border-box;
  vertical-align: top;
}

@media screen and (max-width:970px) {
  .ms-block.shop-category-block .shop-content .category ul li {
    width: 48% !important;
  }
}

@media screen and (max-width:700px) {
  .ms-block.shop-category-block .shop-content .category ul li {
    width: 98% !important;
  }
}

@media screen and (max-width:640px) {
  .ms-block.shop-category-block .shop-content .category ul li {
    width: 48% !important;
  }
}

@media screen and (max-width:450px) {
  .ms-block.shop-category-block .shop-content .category ul li {
    width: 98% !important;
  }
}

.ms-block.shop-category-block .shop-content .category ul li .image {
  width: 100%;
}

.ms-block.shop-category-block .shop-content .category ul li .image img {
  max-height: 100%;
  max-width: 100%;
}

.ms-block.shop-category-block .shop-content .category ul li .description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 2em;
}

.ms-block.shop-category-block .shop-content .product {
}

.ms-block.shop-category-block .shop-content .product .top-bar {
  width: 100%;
  padding: 0 1em 1em;
  box-sizing: border-box;
}

.ms-block.shop-category-block .shop-content .product .product-meta {
  width: 100%;
}

.ms-block.shop-category-block .shop-content .product .product-meta .price {
  display: inline-block;
  margin-right: 1em;
}

.ms-block.shop-category-block .shop-content .product .product-meta .addToCart {
  display: inline-block;
}

.ms-block.shop-category-block .shop-content .product .image {
  width: 40%;
  float: left;
  padding: 1em;
  box-sizing: border-box;
}
@media screen and (max-width: 900px){
  .ms-block.shop-category-block .shop-content .product .image{
    width: 100%;
    padding: 0;
  }
}

.ms-block.shop-category-block .shop-content .product .image img {
  width: 100%;
}

.ms-block.shop-category-block .shop-content .product .info {
  width: 60%;
  float: left;
}
@media screen and (max-width: 900px){
  .ms-block.shop-category-block .shop-content .product .info{
    width: 100%;
  }
}

.ms-block.shop-category-block .shop-content .cart {
  width: 100%;
}

.ms-block.shop-category-block .shop-content .cart .cart-table {
  display: table;
  margin: 0;
  padding: 0;
}

.ms-block.shop-category-block .shop-content .cart .cart-table li {
  display: table-row;
}

.ms-block.shop-category-block .shop-content .cart .cart-table li.head {
}

.ms-block.shop-category-block .shop-content .cart .cart-table li > div {
  display: table-cell;
  padding: 1em;
  vertical-align: middle;
}
@media screen and (max-width:600px){
  .ms-block.shop-category-block .shop-content .cart .cart-table  li > div{
    padding: 0.5em;
  }
}

.ms-block.shop-category-block .shop-content .cart .cart-table li div.image {
  width: 15%;
}
@media screen and (max-width:600px){
  .ms-block.shop-category-block .shop-content .cart .cart-table li div.image{
    display: none;
  }
}

.ms-block.shop-category-block .shop-content .cart .cart-table li div.image img {
  width: 100%;
}

.ms-block.shop-category-block .shop-content .cart .cart-table li div.name {
  width: 59%;
}

.ms-block.shop-category-block .shop-content .cart .cart-table li div.name .attribute {
  font-size: 0.8em;
  line-height: 1.5em;
}

.ms-block.shop-category-block .shop-content .cart .cart-table li div.name .attribute span:first-child {
  font-weight: bold;
}

.ms-block.shop-category-block .shop-content .cart .cart-table li div.price {
  width: 13%;
}
@media screen and (max-width:500px){
  .ms-block.shop-category-block .shop-content .cart .cart-table li div.price{
    width: 5%;
    font-size: 1em !important;
  }
}

.ms-block.shop-category-block .shop-content .cart .cart-table li div.quantity {
  width: 13%;
}

@media screen and (max-width:600px){
  .ms-block.shop-category-block .shop-content .cart .cart-table li div.price{
    width: 5%;
    font-size: 1em !important;
  }
}

.ms-block.shop-category-block .shop-content .cart .cart-table li div.quantity input[type="number"] {
  width: 100%;
}

.ms-block.shop-category-block .shop-content .cart .cart-table li div .remove {
  text-align: center;
}
.ms-block.shop-category-block .shop-content .cart .cart-table li div .remove svg{
  width: 20px;
  height: 20px;
  margin: 0 auto;
  color: darkred;
  fill: currentColor;
}

.ms-block.shop-category-block .shop-content .cart .cart-table li.sub-total {
  padding: 1em;
}

.ms-block.shop-category-block .shop-content .cart .buttons {
  padding: 1em 0;
}

.ms-block.shop-category-block .shop-content .cart .buttons .continue {
  float: left;
}

.ms-block.shop-category-block .shop-content .cart .buttons .checkout {
  float: right;
}


/***Pagination***/

.ms-block.shop-category-block .pagination-wrap {
 text-align: center;
}

.ms-block.shop-category-block .pagination-wrap .pagination {
  width: 90%;
  max-width: 768px;
  margin: 2em auto 4em;
  padding: 0;
  text-align: center;
}
.ms-block.shop-category-block .pagination-wrap .pagination li {
  /* hide numbers on small devices */
  display: none;
  margin: 0 .2em;
  padding: 0.5em;
  cursor: pointer;
}
.ms-block.shop-category-block .pagination-wrap .pagination li.contols {
  /* make sure prev next buttons are visible */
  display: inline-block !important;
}
  .ms-block.shop-category-block .pagination-wrap .pagination li.contols[disabled=disabled] {
    /* make sure prev next buttons are visible */
    opacity: 0.5;
  }

@media only screen and (min-width: 895px) {
  .ms-block.shop-category-block .pagination-wrap .pagination li {
    display: inline-block;
  }
}
@media only screen and (min-width: 1170px) {
  .ms-block.shop-category-block .pagination-wrap .pagination {
    margin: 4em auto 8em;
  }
}