<div class="mini-cart clearfix">
  <div class="title">
    <svg class="icon-cart"><use xlink:href="#icon-cart"></use></svg>
    <h1>Basket</h1>
  </div>

  <div ng-if="!cart||cart.length<=0" class="cartActions">Your basket is empty</div>
  <div ng-if="cart.length>0" class="cartActions">
    <div class="cartItems">{{cartSize}} items ({{total | currency}})</div>
    <button ng-click="showCartAction()" class="button">View Basket</button>
  </div>
</div>