<div class="search clearfix">
  <div class="form-item">
    <svg viewBox="0 0 60 60">
      <use xlink:href="{{svgUrl('search-icon')}}"></use>
    </svg>
    <input type="text" placeholder="Search our blog" ng-model="searchText"/>
  </div>

</div>