<div>
  <aside>
    <ms-blog-post-search search-text="searchText" category="currentCategory"></ms-blog-post-search>
  </aside>
  <div class="blog-content">
    <div ng-hide="!error">{{error}}</div>
    <div class="blog-list clearfix" ng-hide="error">
      <h1 ng-if="category">{{category}}</h1>

      <article class="blog-post" ng-click="selectBlogPost(blogPost)" ng-repeat="blogPost in filteredItems  = (blogPosts | filter:customSearch | paginate:paging)">
        <figure class="blog-image" ng-hide="!blogPost" style="background-image: url('{{blogPost.Images[0].Url}}');">
          <!--<img ng-if="blogPost.Images.length>0" ng-src="{{blogPost.Images[0].Url}}" />-->
        </figure>
        <section class="blog-info">
          <h3 ng-if="blogPost.Title.length >= 35">{{blogPost.Title| limitTo:32}}&hellip;</h3>
          <h3 ng-if="blogPost.Title.length < 35">{{blogPost.Title}}</h3>
          <span ng-bind-html="blogPost.Content | limitTo:250 | unsafe"></span>

          <div class="blog-meta">
            <span class="author">
              <svg viewBox="0 0 20 20">
                <use xlink:href="{{svgUrl('user-icon')}}"></use>
              </svg>
              {{blogPost.Author}}
            </span>
            <span class="date">
              <svg viewBox="0 0 20 20">
                <use xlink:href="{{svgUrl('clock-icon')}}"></use>
              </svg>
              {{blogPost.Created | date: 'dd MMMM'}}
            </span>
            <span>
              <svg viewBox="0 0 20 20">
                <use xlink:href="{{svgUrl('comment-icon')}}"></use>
              </svg>
              {{blogPost.totalComments}} Comments
            </span>
          </div>
        </section>
      </article>

      <div ng-hide="blogPosts.length">No blog posts found</div>
      <div ng-hide="filteredItems.length||!blogPosts.length">No blog posts match the search</div>
    </div>
    <div class="pagination-wrap">
      <ul class="pagination" ng-if="paging.pages.length>1">
        <li class="contols" ng-disabled="paging.page === 0" ng-click="paging.page=paging.page-1">&lt;</li>
        <li ng-repeat="page in paging.pages" class="" ng-class="{active:paging.page === page}" ng-click="paging.page=page">{{page+1}}</li>
        <li class="contols" ng-disabled="paging.page === paging.pages.length - 1" ng-click="paging.page=paging.page+1">&gt;</li>
      </ul>
    </div>
  </div>
</div>