<div class="comments">
  <h2>Comments</h2>

  <div ng-if="message" class="message">{{message}}</div>

  <div class="form-item">
    <textarea ng-model="comment" placeholder="Add a comment"></textarea>
  </div>

  <div class="form-item">
    <button ng-click="addComment()" class="button">Add comment</button>
  </div>

  <ul class="comment-list">
    <li ng-repeat="comment in filteredComments  = (comments | paginate:paging)">
      <div class="comment-content">
        <span class="comment-date">
          <svg viewBox="0 0 60 60">
            <use xlink:href="{{svgUrl('clock-icon')}}"></use>
          </svg>
          {{comment.Created | date: 'dd MMMM, yyyy'}}
        </span>
        <p>{{comment.Content}}</p>
      </div>

    </li>
  </ul>


	<div class="pagination-wrap">
    <ul class="pagination" ng-if="paging.pages.length>1">
      <li class="contols" ng-disabled="paging.page === 0" ng-click="paging.page=paging.page-1">&lt;</li>
      <li ng-repeat="page in paging.pages" class="" ng-class="{active:paging.page === page}" ng-click="paging.page=page">{{page+1}}</li>
      <li class="contols" ng-disabled="paging.page === paging.pages.length - 1" ng-click="paging.page=paging.page+1">&gt;</li>
    </ul>
	</div>

</div>